
@keyframes slidein {
  from {margin-left: 100%;width: 300%; }
  to {margin-left: 0%;width: 100%;}
}

h2 {
  font-size: 2.0rem;
  font-weight: bold;
  color: #2c3e50;
  animation-duration: 3s;
  animation-name: slidein;
}

hr{
 border: 0; height: 1px;
 background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/*#main_photo{
  width: 100%;
}*/

footer{
  background: gray;
  position: inherit;
  bottom: 0;
}

.news-title-area {
  width: 90%;
  height: 50px;
}

.news-text-area{
  width: 90%;
  height: 300px;
}

/*.upload-image, .send-fan-appeal, .send-news{
  position: absolute;
  bottom: 0;
}*/

.fans-appeal .time {
  color:blue; 
  float: left;
}

.fans-appeal h5{
  font-style: italic;
}

.fans-appeal .nick{
  color:blue;
   float: right;
}

